<br />

<div class="box col-xs-10 col-xs-offset-1">
	<h1><%= current_lesson.title %></h1>
	<p>
		<%= current_lesson.subtitle %>
	</p>

	<video id="my_video_1" class="video-js vjs-default-skin vjs-big-play-button" width="640px" height="360px"
      controls preload="none" poster='MY_VIDEO_POSTER.jpg'
      data-setup='{ "aspectRatio":"640:360", "playbackRates": [1, 1.5, 2] }'>
    <source src="<%= current_lesson.video.to_s %>" type='video/mp4' />
  </video>


	<%= link_to 'Video', current_lesson.video.to_s %>
</div>

